h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-sf-pro);
}

h1 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.2;
}
h2 {
	font-size: 1.875rem;
	font-weight: 700;
	line-height: 1.3;
}
h3 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.4;
}
h4 {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.4;
}
h5 {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5;
}
h6 {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
}